*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
build-logic/.gradle
build-logic/build
build-logic/convention/build
/datasource/local/build
/datasource/remote/build
/datasource/build
**/build
/shared/build
/shared/data/build
/shared/datasource/build
shared/domain/build
.kotlin